@import "global.scss";

.error-box {
    width: 80%;
    margin: auto;

    padding-top: 2px;

    border: solid 1px $red;
    background-color: $red-lighter;

    * {
        margin: 0;
        font-size: 12px;
        color: $red-light
    }
    p {
        font-family: $font-subscript;
    }
}