@import 'global.scss';

div#recent-submission-sidebar {
  div.table-responsive {
  }

  table {
    overflow-y: scroll;
    td {
      font-weight: 100;
    }
    th, td {
      width: auto;
      font-size: 14px;
      vertical-align: middle;
      word-break: keep-all;


      &.responsive-date {
        div.date {
          font-size: 10px;
        }
        div.time {
          font-size: 12px;
        }
        min-width: 50px;
      }
    }

    overflow: hidden !important;
    margin: 0;
    padding: 0;
  }

  td.info {
    margin: 0; padding: 0;

    div.info-wrapper {
      display: inline-flex;
      flex-direction: row;

      div.sub-wrapper {
        max-width: max-content;
        padding: 5px;
        a#sub-id {
          color: black;
          font-size: 16px;
          font-weight: bold;
          max-width: max-content;
        }
        border-right: solid 1px $background-gray;
      }
    }
    .prob-wrapper {
      span.prob {
        font-weight: bold;
      }
    }
    span.lang {
      font-size: 12px;
    }
    // min-width: 100px;
  }

  td.result {
    margin: 0; padding: 0;

    div.result-wrapper {
      display: inline-flex;
      flex-direction: row;
      span.text {
        flex: 1;
        padding: 5px;
        border-right: solid 1px $background-gray;
      }
      span.points {
        max-width: max-content;
        min-width: 30px;
        font-size: 12px;
      }
    }
    @import 'styles/SubmissionVerdict.scss';
  }
  // .verdict {
  //   font-weight: 300;
  //   font-family: $font-codeforces;

  //   &.ac > span {
  //     color: $accepted !important;
  //   }

  //   &.wa > span, &.tle > span, &.mle > span, &.ole > span {
  //     color: $not-accepted !important;
  //   }

  //   &.ir > span, &.rte > span {
  //     color: $runtime-error !important;
  //   }

  //   &.qu > span, &.g > span, &.p > span, &.sc > span {
  //     color: $queued !important;
  //   }

  //   &.ie > span, &.ce > span {
  //     color: $system-error !important;
  //   }
  // }
}
