@import "../../index.scss";
.navbar {
	background-color: $sub!important;
	top: 0;
	position: sticky;
	white-space: nowrap;

	.navbar-brand {
		img#site-brand {
			max-height: 25px;
		}
		margin-right: 20px;
	}

	// Site Brand
	#brand {
		color: $base;
	}

	// Nav items
	.nav-item, .nav-link {
		font-family: sans-serif;
		// text-decoration: underline;
		text-transform: capitalize;
		font-size: 14px;

		.dropdown-item {
			font-size: 12px;
		}

		&:focus{
			font-weight: 600;
		}
	}
}