@import "../../index.scss";

.footer {
	min-height: 300px;
	border: solid 2px red;
	background-color: $base;

	padding-top: 30px;
	padding-bottom: 30px;

	color: $sub;

	.container {
		width: 100%;
		img.bkdn-uni-icon {
			max-height: 150px;
		}
	}

	.col {
		border: solid 2px blue;
	}


}