@import 'global.scss';

.admin-page {
  width: 100%;
  display: flex;

  #admin-content-wrapper {
    width: 100%;

    #admin-topbar {
      background-color: $sub !important;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      column-gap: 15px;

      #sidebar-toggle-btn {
        border-radius: 50%;
        height: 2.5rem;
        width: 2.5rem;
        line-height: 1.75rem;
        // font-size: 0.7rem;
        // border: 2px solid $sub-dark
      }
    }

    #admin-panel-container {
      margin-top: 30px;
      overflow: auto;
      height: 100vh;
    }

    overflow: hidden;
  }
}

body {
  background-color: $background-gray-dark !important;
}

form {
  text-align: left;
  margin: 4px;

  .row {
    border: solid 1px $background-gray;
    margin: 2px;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
  }
}

a.text-truncate {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  direction: rtl;
  width: 100%;
}

div.admin-options {
  margin: 5px;
  display: flex;
  flex-direction: row-reverse;
  column-gap: 5px;
}

div.admin-table {
  text-align: center;

  a {
    color: $blue-dark;
    &:hover {
      color: $base;
    }
  }

  h4 {
    margin: unset;
    padding: 4px;

    font-size: medium;

    font-family: $font-codeforces;
    background-color: $background-gray;
  }
  th, td {
    font-size: 14px;
    font-family: $font-codeforces;
    vertical-align: middle;
  }
  table {
    margin: unset;
  }

  div.table-footer {
    margin: 10px;

    hr {
      margin: unset;
    }
    height: 16px;
    text-align: right;
  }
}